

.bg-kopi {
   background-color: #e2c28e !important;
}

.banner-logo img {
   max-height: 50px;
}

.menu-andalan-section {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: #EFE6DC;
}

.btn{
   background-color: #e2c28e;
}

.team-section {
   padding-top: 80px;
   padding-bottom: 80px;
   background-color: #EFE6DC;
}

.box-customer {
   width: 100%;
   height: 350px;
}


footer {
   background-color: #e2c28e ;
}